NODE_ENV=development
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=icr
DATABASE_USER=postgres
DATABASE_PASSWORD=12345
STORAGE_ROOT=../storage
MODELS_ROOT=../models
WORKER_ID=worker-1
POLL_INTERVAL_MS=2000
RECOGNITION_MODE=STUB
ACTIVE_MODEL_PATH=../models/handwriting_v1.onnx

